<%= form_for @team, html: { multipart: true } do |f| %>
	<% if @team.errors.any? %>
	<h2><%= pluralize(@team.errors.count, "error") %> prevent this post from saving:</h2>
	<ul>
		<% @team.errors.full_messages.each do |msg| %>
		<li> <%= msg %></li>

		<% end %>
	<%end%>
	<%= f.label :title%><br>
	<%= f.text_area :title%>

	<br>

	<%= f.label :flag%><br>
	<%= f.file_field :flag %>

	<br>


	<%= f.label :fans%><br>
	<%= f.file_field :fans %>

	<br>


	<%= f.label :facilities1%><br>
	<%= f.file_field :facilities1 %>

	<br>


	<%= f.label :facilities2%><br>
	<%= f.file_field :facilities2 %>

	<br>

	<%= f.submit %>

<% end %>