<nav>
	<div class="back">
		<%= link_to countries_path do %>
			<div>Tip<i class="fa fa-dribbble"></i>Ball<br></div>
		<%end%>
	</div>
</nav>
<div class="team-header robo">
	<div class="team-flag"><%= image_tag @team.flag.url(:medium) %></div>
	<div class="team-title"><%= @team.title %></div>
</div>

<!-- Image Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><%= image_tag @team.fans.url(:medium) %></div>
            <div class="swiper-slide"><%= image_tag @team.facilities1.url(:medium) %></div>
            <div class="swiper-slide"><%= image_tag @team.facilities2.url(:medium) %></div>
        </div>
		<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination">
		</div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <div class="swiper-overlay"></div>
    </div>

<!--Recommendation Rating-->
    <section class="rating">
    	<div class="rating-title robo">&#128172 &nbsp <span style="line-height:20px;">Comments</span></div>
    	<div class="rating-view">Here's what former players had to say about the <%= @team.title %>:

    		<% @comments.each do |comment| %>
				<% if comment.team_id == @team.id %>
					<div class="comment">
						<%= comment.text %>
					</div>
				<% end %>
			<% end %>

    		<div class="comment">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
    		<div class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>

    	</div>
    </section>

    <!--Rate Team-->
     <section class="call" style="text-align:center">
    <h3>Have you played for the <%= @team.title %>?</h3>
    <div class="call-to-action robo">
		
		<div class="button">Leave a Tip</div>
	</div>
	 </section>

    <!--List other teams from same league-->
	<section class="other-teams-list">
	<% @countries.each do |country| %>
		<% if country.id == @team.country_id %>
			<% @leagues.each do |league| %>
				<% if @team.league_id == league.id %>
					<% if @team.country_id == country.id %>
						<h3 class="selector-text">Other teams in <%= country.title %></h3>
						<div class="teams-list" >
							<% @teams.each do |team| %>
								<% if team.league_id == league.id %>
								<% if @team.id != team.id %>
									<%= link_to team do%>
										<div class="team other-teams robo" >
											<div class="other-team-flag"><%= image_tag team.flag.url(:medium) %></div><%= team.title %><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
										</div>
									<% end %>
								<% end %>
								<% end %>
							<% end %>
						</div>	
					<%end%>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	</section>


<!-- Initialize Swiper -->
     <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
    });
    </script>
