<nav class="team-nav">
	<div class="back">
		<%= link_to countries_path do %>
			<div>Tip<i class="fa fa-dribbble"></i>Ball<br></div>
		<%end%>
	</div>
	<div class="user-actions">
		<% if user_signed_in? %>
		<%= link_to destroy_user_session_path, method: :delete do %><div class="button">Log out</div><%end%>
		<%else%>
		<%= link_to new_user_session_path do %><div class="button">Sign In</div><%end%>
		<%end%>
	</div>
</nav>
<div class="team-header robo">
	<div class="team-flag"><%= image_tag @team.flag.url(:medium) %></div>
	<div class="team-title"><%= @team.title %></div>
</div>

<!-- Image Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><%= image_tag @team.fans.url(:medium) %></div>
            <div class="swiper-slide"><%= image_tag @team.facilities1.url(:medium) %></div>
            <div class="swiper-slide"><%= image_tag @team.facilities2.url(:medium) %></div>
        </div>
		<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination">
		</div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <div class="swiper-overlay"></div>
    </div>

<!--Recommendation Rating-->
    <section class="rating">
    	<div class="rating-title robo">&#128172 &nbsp <span style="line-height:40px;">Comments</span></div>
    	<div class="rating-view">Here's what former players had to say about the <%= @team.title %>:

    		

    		<% if @comments.blank? %>
    			<h3 style="color:white; margin:60px 0px 120px; text-align:center">Sorry, no comments yet</h3>
    		<% else %>
	    		<% @comments.each do |comment| %>
						<div class="comment">
							<%= comment.text %>
							<% if current_user.try(:id) === comment.user_id %>

								<div class ="comment-button-container">
									<%= link_to edit_team_comment_path(@team, comment.id) do%>
										<div class="comment-button robo">Edit</div>
									<% end %>

									<%= link_to team_comment_path(@team, comment.id), method: :delete, data: {confirm: "Are you sure you want to delete this comment?"} do%>
										<div class="comment-button robo" style="background:#943C35">Delete</div>
									<% end %>
								</div>	

							<% end %>
						</div>	
				<% end %>
			<% end %>

    	</div>
    </section>

    <!--Rate Team-->
     <section class="call" style="text-align:center">
    <h3>Have you played for the <%= @team.title %>?</h3>
    <div class="call-to-action robo">
		
		<%= link_to new_team_comment_path(@team) do %><div class="button">Leave a Tip</div><%end%>
	</div>
	 </section>

    <!--List other teams from same league-->
	<section class="other-teams-list">
	<% @countries.each do |country| %>
		<% if country.id == @team.country_id %>
			<% @leagues.each do |league| %>
				<% if @team.league_id == league.id %>
					<% if @team.country_id == country.id %>
						<h3 class="selector-text">Other teams in <%= country.title %></h3>
						<div class="teams-list" >
							<% @teams.each do |team| %>
								<% if team.league_id == league.id %>
								<% if @team.id != team.id %>
									<%= link_to team do%>
										<div class="team other-teams robo" >
											<div class="other-team-flag"><%= image_tag team.flag.url(:medium) %></div><%= team.title %><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
										</div>
									<% end %>
								<% end %>
								<% end %>
							<% end %>
						</div>	
					<%end%>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	</section>


<!-- Initialize Swiper -->
     <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
    });
    </script>
