<nav class="team-nav">
  <div class="back">
    <%= link_to countries_path do %>
      <div>Tip<i class="fa fa-dribbble"></i>Ball<br></div>
    <%end%>
  </div>
</nav>

<section class="log-in">
  <div class="member" style="margin:0px 30px 42px 12px">
    <h2>Already have an account?</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field" style="font-size: 12px;text-transform: uppercase;margin-top:-12px">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions robo">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>

  <div class="non-member" style="margin-left:12px">
    <h2>If not, get one here</h2>
    &#128071
    <div class="second-choice">

      <%= render "devise/shared/links" %>
    </div>
  </div>

</section>
